<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        
        <h1>Quiz - Gestão de Riscos e Continuidade de Negócios</h1>

        <form method="POST" action="">

            <% 
                let count1 = 1;
                let count2 = 1;
                questions.forEach(question => { 
            %>
                <div class="card form-question">
                    <div class="card-header">
                        <h3><%= question.pergunta %></h3>
                    </div>

                    <% 
                        let answer = answers.filter(a => a.pergunta_idpergunta == question.idpergunta)
                    %>
                    
                    <div class="card body">
                        
                    <% answer.forEach(a => { %> 
                        <div class="form-check options">
                            <input class="form-check-input" type="radio" name="opcao_pergunta_<%= count1 %>" id="resposta_<%= count2 %>">
                            <label class="form-check-label" for="resposta_<%= count2 %>"><%= a.alternativa %></label>
                        </div>
                    <% 
                        count2++
                    }) %>

                    </div>
                </div>
            <% 
                count1++
            }) %>
            <button type="button" class="btn btn-primary form-question">Enviar respostas</button>
        </form>
    </div>
<%- include('partials/footer.ejs'); %>