<%- include('partials/header') %>

<div class="container mt-4">

  <form method="POST" action="" class="questionario">
    
    <% 
      let letras_alternativas = ["a)","b)","c)","d)"]
      let i = 0
      questionario.forEach(pergunta => {  
    %>
      <div class="card">  
        <div class="card-header card-title">
          <h4><%= pergunta.pergunta %></h4>
        </div>

        <div class="card-body card-options">
        <% pergunta.alternativas.forEach(alternativa => { %>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="<%= alternativa.idalternativas%>" name="<%= pergunta.id_pergunta %>">
              <label class="form-check-label" for="<%= alternativa.idalternativas %>">
                <%= letras_alternativas[i] + " " + alternativa.alternativa %>
              </label>
            </div>
        <% 
            i++
            }) 
        %>
        <button type="button" class="btn btn-dark">Responder</button>
        </div>
      </div>
    <% 
    i = 0
    }) 
    %>
        
  </form>
</div>













<%- include('partials/footer') %>