
<%- include('partials/header') %>

    <div class="container">

    <% 
        let i = 1
        resultado.forEach(r => {
    %>
    <div class="container-relatorio">
        <h4><%= String(i) + ". " + r.pergunta %></h4>

        <% 
            if(r.resultado == "Resposta certa"){
        %>
        <div class="alert alert-success" role="alert">
            <p><strong>Alternativa escolhida: </strong><%= r.alternativa_escolhida %><strong> Certa resposta</strong></p>
        </div>
        <div class="alert alert-secondary" role="alert">
            <p><strong>Comentário: </strong><%= r.comentario%></p>
        </div>
        <%
            }
        %>

        <% 
            if(r.resultado == "Resposta errada"){
        %>
        <div class="alert alert-danger" role="alert">
            <p><strong>Alternativa escolhida: </strong><%= r.alternativa_escolhida %><strong> Resposta errada</strong></p>
        </div>
        <div class="alert alert-success" role="alert">
            <p><strong>Alternativa correta: </strong><%= r.alternativa_certa %></p>
        </div>
        <div class="alert alert-secondary" role="alert">
            <p><strong>Comentário: </strong><%= r.comentario%></p>
        </div>
        <%
            }
        %>
    </div>
    <%    
        i++  
        })
    %>

    </div>

<%- include('partials/footer') %>






